<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Immob paperwork</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="../static/style.css?reload">
</head>
<body>
    <container>
        <header>
            <h1>Immobilisations PaperWork</h1>
        </header>
        <content>
            <ul>
                <li><span>Décharges</span></li>
                <li><span>Décisions d'affectations</span></li>
                <li><span>Pvs des réceptions</span></li>
            </ul>
        </content>
    </container>

</body>
</html>
